<section class="section">
    <div class="columns is-variable is-8">
        <div class="column is-5 is-offset-1">
            <div class="content is-medium">
                <h2 class="subtitle is-5 has-text-grey">{{format_time
                        0.createdAt
                    }}</h2>
                <h1 class="title has-text-black is-3"><a
                        href="/post/{{0.id}}"
                    >{{0.title}}</a></h1>
                    <img src="{{format_summary 0.photo_Url}}">
            <p class="has-text-dark">
                    {{format_summary 0.type}}
                    {{format_summary 0.color}}
                    {{format_summary 0.imprint}}
                    {{format_summary 0.shape}}
                </p>
            </div>
        </div>
        {{#if 1.title}}
            <div class="column is-5">
                <div class="content is-medium">
                    <h2 class="subtitle is-5 has-text-grey">{{format_time
                            1.createdAt
                        }}</h2>
                    <h1 class="title has-text-black is-3"><a
                            href="/post/{{1.id}}"
                        >{{1.title}}</a></h1>
                        <img src="{{format_summary 1.photo_Url}}">
                        <p class="has-text-dark">
                        {{format_summary 1.type}}
                        {{format_summary 1.color}}
                        {{format_summary 1.imprint}}
                        {{format_summary 1.shape}}
                        </p>
                </div>
            </div>
        {{/if}}
    </div>
</section>