<section class="section">
    <div class="columns is-variable is-8">
        <div class="column is-5 is-offset-1">
            <div class="card">
                <h1 id="sum"><a id="sum" href="/post/{{0.id}}">{{0.title}}</a></h1>
                    <h2 id="h2">{{format_date 0.createdAt}}</h2>
                    <h6 id="h6">By: {{0.user.username}}</h6>
        <img id="photo_Url" src="{{format_summary 0.photo_Url}}">
        <div class="card-body">
                <ul id="body">
                    <p>Type: {{format_summary 0.type}}</p>
                    <p>Color: {{format_summary 0.color}}</p>
                    <p>Imprint: {{format_summary 0.imprint}}</p>
                    <p>Shape: {{format_summary 0.shape}}</p>
                </ul>
            </div>
        </div>
        </div>
      
        {{#if 1.title}}
            <div class="column is-5">
               <div class="card">
                    <h1 id="sum" ><a id="sum" href="/post/{{1.id}}">{{1.title}}</a></h1>
                    <h2 id="h2">{{format_date 1.createdAt}}</h2>
                    <h6 id="h6">By: {{1.user.username}}</h6>
            <img id="photo_Url" src="{{format_summary 1.photo_Url}}">
            <div class="card-body">
                <ul id="body">
                    <p>Type: {{format_summary 1.type}}</p>
                    <p>Color: {{format_summary 1.color}}</p>
                    <p>Imprint: {{format_summary 1.imprint}}</p>
                    <p>Shape: {{format_summary 1.shape}}</p>
                </ul>
                </div>
            </div>
            </div>
        {{/if}}
    </div>
</section>