{{!------------------------------------ HOMEPAGE IMAGE ---------------------------------------}}
        <div class="columns is-centered">
          <div class="column is-8 is-offset-5">
            <div class="card-img-top"></div>
              <img id="homelogo" src="https://res.cloudinary.com/dhqsixgmo/image/upload/v1665551883/pill-git-it-images/pill-git-title_cpksby.png"/>
            </div>
          </div>
        </div>
{{!--------------------------- HOMEPAGE SUMMARY SECTION W/ ALL USER POST DATA & IMAGES -----------------------------------}}
<section class="hero">
  <div class="hero-body">
    <div class="container">
      <section class="section">
        <div class="columns">
          <div class="column is-8 is-offset-2" style="padding-top: 5%">
            <div class="card" style="width: 100%; padding-top: 3%; text-align: center">
                
                <h1 id="sum"><a id="sum" href="/post/{{posts.0.0.id}}">{{posts.0.0.title}}</a></h1>
                <h2 id="h2" class="subtitle is-4">{{format_date posts.0.0.createdAt}}</h2>
                <h6>By: {{posts.0.0.user.username}}</h6>
                <img id="photo_Url" src="{{posts.0.0.photo_Url}}">
                <div class="card-body">
                <ul id="body">
                  <p class="card-text"><strong>Type:</strong> {{posts.0.0.type}}</p>
                  <p class="card-text"><strong>Color:</strong> {{posts.0.0.color}}</p>
                  <p class="card-text"><strong>Imprint:</strong> {{posts.0.0.imprint}}</p>
                  <p class="card-text"><strong>Shape:</strong> {{posts.0.0.shape}}</p>
                </ul>
              </div>
          </div>
        </div>
      </div>
    </section>
{{!------------------------------------ *END* POST SPACE *END* ----------------------------------}}
        <div class="is-divider"></div>
      </div>
    </div>
  </section>
  {{!--------------------------------------------- POST MAP ----------------------------------------------}}
  <section class="hero ">
    <div class="hero-body-neg">
      <div class="container">
        {{#each posts as |post|}}
          {{#if @first}}
{{!-- EMPTY SPACE --> PLACE-HOLDER --}}
          {{else}}
            {{> post-summary}}
          {{/if}}
        {{/each}}
      </div>
    </div>
  </section>
  <script src='/js/main.js'></script>