{{!-- ***************************************************** ADDING COMMENT TO POST VIEW *************************************************** --}}
<section class="hero">
    <div class="hero-body">
        <div class="container">
            <section class="section">
                <div class="columns">
                    <div class="column is-8 is-offset-2">
                       <div class="content is-medium">
            <h1 style="font-size: 225%; text-align: center; font-weight: bold; border-bottom: solid 0.5px black; color: black" class="title">{{postData.title}}</h1>
            <h2 style="text-align: center; font-size: 100%; color: black">{{format_date postData.createdAt}}</h2>
            <h6 style="text-align: center; color: black" >By: {{postData.user.username}}</h6>
            <img id="post-image" src="{{postData.photo_Url}}">
           </div>
                </div>
                </div>
            </section>
<div class="is-divider"></div>
            <div class="column is-8 is-offset-2">
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                         <label style="text-align: center; font-size: 150%; color: whitesmoke" class="label">Comment: 📢</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div style="margin-top: 1%" class="control">
                                <textarea
                                    class="textarea comment-input"
                                    placeholder="Enter your pill related information here...💊"
                                    required/>
                                </textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label">
                        <!-- Left empty for spacing -->
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <button id="comment-submit" class="button is-success comment-submit">
                                    Submit 📬
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{{!-------------------------------- PILL IMAGE MATCH ----------------------------}}
<div id="pill-match" class="container">
    <label id="pill-head">Pill Image Match</label>
<div class="row justify-content-center" style="margin-bottom: 3%; margin-top: 2%">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<div class="col-3">
   <label style="font-weight: bold; color: whitesmoke; font-size: 100%" for="type" value="">Type 🧪:</label>
    <select name="slist1" onchange="SList.getSelect('slist2', this.value);">
        <option>Select...</option>
        <option value="capsule">capsule</option>
        <option value="tablet">tablet</option>
        <option value="caplet">caplet</option>
        <option value="gelcap">gelcap</option>
        </select>
</div>
<div class="col-3">
<span style="font-weight: bold; color: whitesmoke" id="slist2"></span> 
</div>
<div class="col-3">
<span style="font-weight: bold; color: whitesmoke" id="slist3"></span> 
</div>

<div id="scontent"></div>
            
        
                    </div>
                </div>
            </div>
        </div> 
    </div>        
</section> 
{{!-- ***************************************************** STRING OF COMMENTS FOR EACH POST *************************************************** --}}
            <div class="column is-8 is-offset-2" id="comment-section">
                {{#each postData.comments as |cmt|}}
                    <article class="message">
                        <div class="message-body">
                            {{comment}}
                            <p class="has-text-right"><strong>-
                                {{user.username}},
                                {{format_date createdAt}}</strong>
                                {{#if ../loggedInUserData.isAdmin}}
                                (<span class="delete-comment" id="delete-comment" data-id="{{id}}">❌</span>)</p>
                                {{/if}}
                        </div>
                    </article>
                {{/each}}
            </div>
        </div>
    </div>
    <div class="current-post-id is-invisible">{{postData.id}}</div>
</section>
  <script src="/js/post.js"></script>