{{!-- ***************************************************** USER EDITING A SINGLE POST VIEW *************************************************** --}}
<section class="hero has-background-grey-lighter">
    <div class="hero-body">
        <label class="label is-large" for="" style="font-size: 200%; text-align: center; border-bottom: 2px solid whitesmoke; color: whitesmoke" class="label">Edit Pill Data ✍️</label>
        <div class="container" style="padding-top: 2%; padding-bottom: 2%">
            <div class="columns is-centered">
                <div class="column">
                    <form action="" id="box" class="box">
                        
                                     <label style="font-size: 150%; text-align: center; padding-top: 2.5%; border-bottom: solid 1px black" for="" class="label">Content 🗄️</label>
                        <div class="field">
                            <label for="" style="font-size: 125%" class="label">Pill Name/Dose 💊</label>
                            <div class="control">
                                <input type="text" class="input subject-input" value="{{postData.title}}" required/>
                            </div>
                <div class="col" style="margin-top: 3%">
                    <div class="card-img-top">
                         <img id="post-image" src="{{postData.photo_Url}}">
                    </div>
                        <div id="card-body" class="card-body">
                            <ul id="body">
                                <p>Type: {{postData.type}}</p>
                                <p>Color: {{postData.color}}</p>
                                <p>Imprint: {{postData.imprint}}</p>
                                <p>Shape: {{postData.shape}}</p>
                            </ul>
                        </div>
                    </div>
                </div>
  <div id="inline_container"></div>
{{!------------------------------------ DROP-DOWN MENUS FOR TYPE, COLOR, IMPRINT & SHAPE ------------------------------}}
        <div class="container" id="container">
 <div class="row content-input" style="width: 100%">
            <div class="col-3">
                    <label style="font-weight: bold; color: black; font-size: 100%" for="type" value="">Type 🧪:</label>
                        <select style="font-size: 110%" class="form-control" id="type-input" name="type">
                            <option>select...</option>
                            <option>capsule</option>
                            <option>tablet</option>
                            <option>caplet</option>
                            <option>gelcap</option>
                        </select>
            </div>
            <div class="col-3">
                <label style="font-weight: bold; color: black; font-size: 100%" for="color" value="">Color 🩸:</label>
                <select style="font-size: 110%" class="form-control" id="color-input" name="color">
                   <option>select...</option>
                    <option>white</option>
                    <option>blue</option>
                    <option>clear</option>
                    <option>yellow</option>
                    <option>green</option>
                    <option>red</option>
                    <option>pink</option>
                    <option>orange</option>
                </select>
            </div>
            <div class="col-3">
                    <label style="font-weight: bold; color: black; font-size: 100%" for="shape" value="">Shape 🔬:</label>
                        <select style="font-size: 110%" class="form-control" id="description-input" name="shape">
                             <option>select...</option>
                            <option>round</option>
                            <option>oblong</option>
                            <option>oval</option>
                            <option>rectangular</option>
                            <option>triangular</option>
                            <option>square</option>
                        </select>
            </div>
            <div class="col-3">
                <label style="font-weight: bold; color: black; font-size: 100%" for="imprint" value="">Imprint 🖨️:</label>
                <textarea style="font-size: 100%" name="imprint" id="imprint-input" placeholder="Enter pill imprint here..."></textarea>
                </input>
            </div>
        </div>
        </div>
        <div class="field is-grouped is-grouped-right mt-3">
                <button id="edit-submit" class="button is-success edit-submit">
                    Submit 📬
                </button>
            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
<div class="current-post-id is-invisible">{{postData.id}}</div>
</section>
 <script src="/js/user-edit.js"></script>